<div class="row m0">
{{#each products}}
	<div class="product-layout product-grid col-lg-3 col-md-3 col-sm-6 col-xs-12">
		<div class="product-thumb">
		<div class="image"><a href="{{{hrf}}}"><img src="{{img}}" alt="{{nam}}" title="{{nam}}" class="img-responsive" /></a></div>
		<div>
		  <div class="caption">
			<h4><a href="{{{hrf}}}">{{nam}}</a></h4>			
			 {{#if prc}}
			<p class="price">
			  {{#if spc}}
					<span class="price-new">{{spc}}</span> <span class="price-old">{{prc}}</span>
			  {{else}}
				{{prc}}
			  {{/if}}
			  
			  {{/if}}
			</p>
			<?php } ?>
		  </div>
		  <div class="button-group">
			<button type="button" data-toggle="tooltip" title="add to cart" onclick="cart.add('{{id}}',1);"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md"></span></button>
			<button type="button" data-toggle="tooltip" title="wishlist" onclick="wishlist.add('{{id}}');"><i class="fa fa-heart"></i></button>
			<button type="button" data-toggle="tooltip" title="checkout" onclick=""><i class="fa fa-share"></i></button>
		    <button type="button" data-toggle="tooltip" title="quick view" onclick=""><i class="fa fa-eye" aria-hidden="true"></i></button>  
			<button type="button" data-toggle="tooltip" title="like" onclick=""><i class="fa fa-thumbs-up" aria-hidden="true"></i></button>  
		  </div>
		</div>
	  </div>
	</div>
{{/each}}	
</div>