<!-- Category products START -->
{{#each products}}
<div class="product-layout product-grid col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div class="product-thumb row">
            <div class="image">
				<a href="{{hrf}}"><img src="{{img}}" alt="{{nam}}" title="{{nam}}" class="img-responsive" /></a>
				{{#if spc}}
					<div class="sale-icon">Sale</div>
				{{/if}}
			</div>

            <div class="thumb-description">
              <div class="caption">
                <h4><a href="{{hrf}}">{{nam}}</a></h4>
                
               
                <div class="price">
					{{#if spc}}
						<span class="price-new">{{spc}}</span> <span class="price-old">{{prc}}</span>
					{{else}}
						{{prc}}
					{{/if}}
                </div>
              </div>
              <div class="button-group">
				<button class="btn-cart" type="button" onclick="cart.add('{{id}}', '1');">
				<i class="fa fa-shopping-cart"></i>
				 <span class="hidden-xs hidden-sm hidden-md">Add to cart</span></button>
				 <span class="tooltip-cart">Add to cart</span>
                <button class="btn-wishlist" type="button" data-toggle="tooltip" title="Add to Wishlist" onclick="wishlist.add('{{id}}');"><i class="fa fa-heart"></i></button>
                <button class="btn-compare" type="button" data-toggle="tooltip" title="Add to compare" onclick="compare.add('{{id}}');"><i class="fa fa-exchange"></i></button>
              </div>
            </div>
          </div>
        </div>
{{/each}}


	 